pandas>=1.3.0
ortools>=9.0.0
pytest>=6.0.0
matplotlib
scipy
pyomo==6.10.0
folium
deap
networkx
langchain
langchain-community
langchain-chroma
langchain-ollama
langchain-google-genai
mcp
streamlit
sentence-transformers
docker
numpy
torchvision
pytest
torch
langchain-core